{% extends "nav_bar.html" %}

{% block content_area %}
    <div class="content-area">
        <div class="landing-div" id="landing-div">
            <div class="home-text">
                <h1 style="font-weight: 500; letter-spacing: -2px;">Hello and Welcome</h1>
                <h1 style="font-size: 48px; font-weight: 900; letter-spacing: -2px;">I am Konner</h1>
                <h1 style="font-weight: 500; letter-spacing: -2px;">A Recent Graduate and Software Developer</h1>
            </div>
            <canvas id="landing-canvas"></canvas>
        </div>
        <script>
            divLoaded();
        </script>
    </div>
{% endblock %}