<!DOCTYPE html>

<html>

<!--Javascript imports and character settings-->
<meta charset="UTF-8">

<script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
<script src="/static/script.js"></script>
<link rel="stylesheet" href="../static/css/main.css">


<head>
</head>



<body>
    <div class="logo-area">
        <h1>Example Logo</h1>
    </div>
    <div class="nav-bar">
        <div><p>Home</p></div>
        <div><p>About</p></div>
        <div><p>Projects</p></div>
        <div><p>Contact</p></div>
    </div>
    <div class="content-area">
        <div class="content-browser">
            <h2>Test Category</h2>
            <a href="#" onclick="retrieve_project('project_pages/testFile.html')"><p>Test File 1</p></a>
            <a href="#" onclick="retrieve_project('project_pages/testFile2.html')"><p>Test File 2</p></a>
            <a href="#" onclick="retrieve_project('project_pages/testFile3.html')"><p>Test File 3</p></a>
            <a href="#" onclick="retrieve_project('project_pages/proj_TwitterDatamine.html')"><p>Datamining and Analysis of Twitter Engagment Statistics</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
            <a href="#"><p>Test Link Before List</p></a>
        </div>

        <div class="content-viewer">
            <div class="content-section" id="project-viewer-id">
                
            </div>
            <!--
            <div class="content-section">
                <h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <p>Content Example</p>
                <div class="images">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "medium">
                </div>
            </div>
            <div class="content-section">
                <h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <p>Content Example</p>
                <div class="images">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "medium">
                    <img src="../static/images/images.jpg" class = "large">
                </div>
            </div>-->
        </div>
        {% block test %}

        {% endblock %}
    </div>







</body>
</html>
