{% extends "nav_bar.html" %}

    {% block content_area %}
    <div class="content-area">
        <div class="content-browser">
            <h2>Projects</h2>
            <a href="#" onclick="retrieve_project('project_pages/proj_TwitterDatamine.html')"><p>Datamining and Analysis of Twitter Engagment Statistics</p></a>
            <a href="#" onclick="retrieve_project('project_pages/proj_SCORES.html')"><p>Marshall SCORES Frontend Development</p></a>
            <a href="#" onclick="retrieve_project('project_pages/proj_ExoDashboard.html')"><p>Exoplanet Data Warehouse Dashboard</p></a>
            <a href="#" onclick="retrieve_project('project_pages/proj_KMeansVisualization.html')"><p>K-Means Centroid Visualization</p></a>
            <br>
            <hr>
            <h2>Achievements</h2>
            <a href="#" onclick="retrieve_project('project_pages/ach_NCL2023.html')"><p>NCL Spring 2023</p></a>
        </div>

        <div class="content-viewer">
            <div class="content-section" id="project-viewer-id">
                <!--This area recieves content based on files returned by flask calls-->
            </div>
        </div>
    </div>
    {% endblock %}
