<h1>Simple Vector Field</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['Python'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['Pyglet'] | safe }}

<br>
<br>
<hr>
<br>
<p>
    A simple example vector field simulation wherein the mouse acts as an anonymous particle or force. The point of this project was to display the ability to create a vector field that could then be adjusted with a force in the future for a targeted simulation.
</p>
<hr>
<br>
<div class="images">
    <img class="large" src="../../static/assets/vectorfield.png">
</div>