<h1>Marshall SCORES Frontend Development</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['HTML/CSS'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['Sass'] | safe }}
<br>
<br>
<hr>
<br>
<p>
    I worked in a team of 3 to perform frontend development on the <a href="http://scores.marshall.edu/">Marshall University SCORES</a> website in the Fall of 2023.
    Task included things such as developing a look and feel similar to the previous website, keeping it in code with Marshall's branding, and ensuring the 
    webapp was in code for accessibility. All of this was done while working along side two other teams handling Backend development and DevOps in an Agile environment.
    <br><br>
    Although the dashboard on the site is inaccessable for security and privacy the main page is still available for visiting using the link previously provided.
</p>
<hr>
<br>
<div class="images">
    <img class="large" src="../../static/assets/SCORES_picture.png">
</div>