<h1>Exoplanet Data Warehouse Dashboard</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['SQL'] | safe }}
{{ variable['Python'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['MySQL'] | safe }}
{{ variable['API'] | safe }}
<br>
<br>
<hr>
<br>

<p>
    A project done along side two others developing a Metabase dashboard to create a data warehouse for exoplanet information.
    Information was taken directly from NASA and the ESA Gaia archives and transformed into standarized information to be stored in 
    the same database, which was then analyzed with a series of queries to discover trends in exoplanet discovery methods.
    <br><br>
    Down below are some pictures of the dashboard.
</p>
<hr>
<br>

<div class="images">
    <img class="medium" src="../../static/assets/exoplanet_dash_1.png">
    <img class="medium" src="../../static/assets/exoplanet_dash_2.png">
</div>