
<h1>Conway's Game of Life</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['Python'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['Pyglet'] | safe }}
=
<br>
<br>
<hr>
<br>
<p>
    Yet another adaptation with John Conway's Game of Life that allows for adjustments to grid columns and rows as well as the chance of a cell starting in an alive state allowing for more active or inactive simulations.
</p>
<hr>
<br>
<div class="images">
    <img class="large" src="../../static/assets/GoL.gif">
</div>