<h1>C++ Graphics Renderer</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['C++'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['API'] | safe }}
<br>
<br>
<hr>
<br>

<p>
    This project is an ongoing effort in which I am attempting to create a rendering library of sorts in order to assit with other projects.
    I enjoy creating simple simulations of things such as gravity sims and collision detectors however I find myself wanting a tailor made 
    renderer to help kickstart my projects faster. The purpose of this program is to enable that desired faster development and to 
    further improve my skills with graphical programming, mathematics and general C++ while using the SDL library as a base.
    <br><br>
</p>
<p>
    Currently the program supports:
</p>
    <ul style="  list-style-type: none;">
        <li><p>The creation of objects with sprites and basic world space information</p></li>
        <li><p>Keyboard input and event handling</p></li>
        <li><p>2D World Space to screen space along with camera and object translation</p></li>
        <li><p>Proper scaling based on camera zoom</p></li>
    </ul>
<p>
    With plans to add:
</p>
    <ul style="  list-style-type: none;">
        <li><p>Z-Axis creating 3D environment</p></li>
        <li><p>Object scaling based on depth instead of set camera zoom</p></li>
    </ul>
    <br>
<p>
    Down below is test footage of 5 entities with soccer ball textures scaled differently. It also shows camera movement and zoom.
</p>
<hr>
<br>

<div class="images">
    <video width="320" height="240" autoplay loop muted>
        <source src="../../static/assets/SimWindowEx1.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</div>