<h1>Python Raycaster</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['Python'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['Pyglet'] | safe }}
=
<br>
<br>
<hr>
<br>
<p>
    Implementation of the raycasting rendering method used by old school games such as Wolfenstein 3-D. Renders vertical slices of walls that are detected due to collisions with casted rays.
    The top video shows the final product whereas the bottom shows the casting of the invisible rays and their collisions against the walls to be rendered.
</p>
<hr>
<br>
<div class="images">
    <img class="large" src="../../static/assets/raycastfps.gif">
    <img class="large" src="../../static/assets/raycastoverhead.gif">
</div>