<h1>Exoplanet Data Warehouse Dashboard</h1>
<hr>
<h3>Languages & Scripting</h3>
{{ variable['SQL'] | safe }}
{{ variable['Python'] | safe }}
<h3>Frameworks & Technology</h3>
{{ variable['MySQL'] | safe }}
{{ variable['API'] | safe }}
<br>
<br>
<hr>
<br>

<div class="proficiency">
    <span class="lvl1"></span>
    <span class="lvl0"></span>
    <span class="lvl0"></span>
</div>
<div class="proficiency">
    <span class="lvl2"></span>
    <span class="lvl2"></span>
    <span class="lvl0"></span>
</div>
<div class="proficiency">
    <span class="lvl3"></span>
    <span class="lvl3"></span>
    <span class="lvl3"></span>
</div>

<div class="images">
    <img class="medium" src="../../static/assets/exoplanet_dash_1.png">
    <img class="medium" src="../../static/assets/exoplanet_dash_2.png">
</div>