<h1>Header 1</h1>
<hr>
<h2>Header 2</h2>
<h3>Header 3</h3>
<p>
    It was supposed to be a dream vacation. They had planned it over a year in advance so that it would be perfect in every way. It had been what they had been looking forward to through all the turmoil and negativity around them. It had been the light at the end of both their tunnels. Now that the dream vacation was only a week away, the virus had stopped all air travel.
    I haven't bailed on writing. Look, I'm generating a random paragraph at this very moment in an attempt to get my writing back on track. I am making an effort. I will start writing consistently again!
    The red ball sat proudly at the top of the toybox. It had been the last to be played with and anticipated it would be the next as well. The other toys grumbled beneath. At one time each had held the spot of the red ball, but over time they had sunk deeper and deeper into the toy box.
</p>
<img src="../static/images/images.jpg" class = "small">
<img src="../static/images/images.jpg" class = "small">
<img src="../static/images/images.jpg" class = "small">
<img src="../static/images/images.jpg" class = "small">
<img src="../static/images/images.jpg" class = "small">
<div class="code-display">
<p>
        <code lang="css">
            .content-section{<br>
                grid-column-start: 2;<br>
                grid-column-end: 8;<br>
                background-color: $_TertiaryBackground;<br>
                padding: 36px;<br>
                text-align: center;<br>
                border: 1px solid $_BorderColor;<br>
                border-radius: 3px;<br>
            }  
        </code>
</p>
</div>
<h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <p>Content Example</p>
                <div class="images">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "medium">
                </div>
            </div>
            <div class="content-section">
                <h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <p>Content Example</p>
                <div class="images">
                    <img src="../static/images/images.jpg" class = "small">
                    <img src="../static/images/images.jpg" class = "medium">
                    <img src="../static/images/images.jpg" class = "large">
                </div>