
$_1 : #836CB3;//#BC94D3;
$_2 : #BC94D3;//#EEDAF4; //Chopping Block
$_3 : #EEDAF4;//#836CB3;
$_4 : #F1E7F4;//#5F5AA3;
//$_5 : //#AA7297;
//$_6 : //#885871;

@import '../fonts/fonts.css';

/*
    Global styling definitions for fonts, colors and other reused structures
*/
$_darkest : #111517;
$_darkblue : #1A2124;
$_darkishblue: #232D30;
$_greyblue : #344449;
$_taintedblue : #465C62;
$_eggshellblue : #95A09B;
$_eggshell : #E4E3D3;
$_oldrose : #CC7178;

//Site Pallet


$_PrimaryBackground : rgba($_darkest, 1);
$_SecondaryBackground: rgba($_darkishblue, 1);
$_TertiaryBackground: rgba($_darkblue, 1);
$_BorderColor : rgba($_eggshellblue, .3);

$_BasicTextColor : rgba($_eggshell, 1);
$_EmphasizedTextColor : rgba($_oldrose, 1);
$_DeemphasizedTextColor : rgba($_eggshell, .3);


/*
$_PrimaryBackground : rgba($_4, 1);
$_SecondaryBackground: rgba($_4, 1);
$_TertiaryBackground: rgba($_4, 1);
$_BorderColor : rgba($_2, .3);

$_BasicTextColor : rgba(black, 1);
$_EmphasizedTextColor : rgba(black, 1);
$_DeemphasizedTextColor : rgba(black, .6);
*/

.tag_block{
    display: inline-block;
    text-align: center;
    padding: 0;
    height: 36px;
}

.tag{
    //background-color: red;
    width: fit-content;
    height: auto;
    padding: 4px 8px;
    border: 2px solid $_BorderColor;
    border-radius: 12px;
    margin: auto;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: lightblue; 
    border-radius: 50%;
    display: inline-block;
}



.image-subs p{
    text-align: center;
    width: 25%;
    display: inline-block;
    //border: 1px solid orange;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    //object-fit: cover;

    height: auto;
}

.code-display{
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;

    height: 560px;

    padding: 2px;
    width: 70%;
    border: 1px solid $_BorderColor;
    border-radius: 3px;

    overflow: auto;


    scrollbar-color: $_SecondaryBackground $_PrimaryBackground;
    scrollbar-width: 30px;

    p{
        padding: 4px;
    }

    p code{
        font-size: 14px;
        font-family: 'Courier New', monospace;
        color: $_BasicTextColor;
        opacity: .75;
        white-space: nowrap;
        padding: 0%;
    }
}

hr{
    height: 1px;
    background-color: $_BorderColor;
    width: calc(100% - 160px);
    border: none;
}

h1,h2,h3{
    color: $_BasicTextColor;
    text-align: left;
    padding: 8px 80px;
    font-family: 'Inconsolata';
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 400;
}

a{
    text-decoration: none;
}

p{
    color: $_BasicTextColor;
    text-align: left;
    padding: 16px 80px;
    padding-bottom: 36px;
    font-size: 16px;
    font-family: 'Inconsolata';
    font-weight: 400;
    margin: 0%;
    transition-duration: .5s;
}

iframe{
    width: 80%;
    height: 80vh;
}

html{
    padding: 0%;
    margin: 0%;
}

img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;

    &.small{
        height: auto;
        width: 25%;
    }
    &.medium{
        height: auto;
        width: 45%;
        margin: auto;
    }
    &.large{
        height: auto;
        width: 75%;
    }
}

/*

*/

@media only screen and (min-width: 478px){
    body{
        background-color: green;
    }
}

@media only screen and (min-width: 678px){
    body{
        background-color: blue;
    }
}

@media only screen and (min-width: 1100px){
    body{
        margin: 0%;

        padding: 0%;

        background-color: $_PrimaryBackground;

        display: grid;

        gap: 0%;

        position: relative;

        grid-template-columns: 15vw 10vw auto;

        grid-template-rows: 10vh auto;

        height: 100vh;

        width: 100vw;

        overflow-x: hidden;

        .logo-area{
            grid-area: 1 / 1 / span 1 / span 1;
            background-color: $_PrimaryBackground;
            width: 100%;
            height: 100%;
            //border-bottom: 1px solid rgba($_eggshellblue, .3);
            h1{
                //border-bottom: 1px solid rgba($_eggshellblue, .3);
                //background-color: red;
                font-size: 4vh;
                letter-spacing: 50%;
                height: 100%;
                width: 100%;
                font-family: 'Advent_Pro';
                //font-size: 36px;
                padding: 0%;
                text-align: center;
                //padding-left: 12px;
            }   
        }

        .nav-bar{
            background-color: $_PrimaryBackground;
            grid-area: 1 / 2 / span 1 / span 4 ;
            gap: 0%;
            position: sticky;
            top: 0;
            border-bottom: 1px solid $_BorderColor;
            text-align: right;
            div p{
                font-weight: 300;
            }
            &:hover{
                div p{
                    color: $_DeemphasizedTextColor;
                }
            }

            div{
                display: inline-block;
                width: 15%;
                height: 100%;
                padding: 0%;
                margin: 0%;
                p{
                    font-size: 24px;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    padding: 13% 0%;
                    margin: 0%;
                    &:hover{
                        color: $_EmphasizedTextColor;
                    }
                }
            }
        }

        .content-area{
            background-color: $_PrimaryBackground;

            grid-area: 2 / 1 / span 2 / span 4 ;

            gap: 0%;

            width: 100vw;

            display: grid;

            grid-template-columns: 15vw auto;

            grid-template-rows: auto;
            

            .content-browser{
                grid-column: 1;
                background-color: $_SecondaryBackground;
                height: 90vh;
                position: sticky;
                top: 10vh;
                overflow-x: hidden;
                overflow-y: scroll;
                

                //border-top: 1px solid rgba($_eggshellblue, .3);
                //border-right: 1px solid $_BorderColor;

                scrollbar-color: $_SecondaryBackground $_PrimaryBackground;
                scrollbar-width: 30px;


                h2{
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    padding: 16px 40px;
                    margin: 0px;
                    //background-color: lightcyan;
                }

                &:hover{
                    p{
                        color: $_DeemphasizedTextColor;
                        color: $_BasicTextColor;
                    }
                }

                a{
                    height: auto;
                    width: auto;
                    padding: 0%;
                    margin: 0%;
                    p{
                        font-weight: 200;
                        padding: 4px 40px;
                        margin: 0%;
                        &:hover{
                            color: $_EmphasizedTextColor;
                        }
                    }
                }
            }

            .content-viewer{
                grid-column: 2;
                background-color: $_PrimaryBackground;

                padding-top: 48px;
                padding-bottom: 48px;

                display: grid;
                overflow-y: auto;
                grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% ;
                grid-auto-rows: min-content;

                height: calc(90vh - 96px);
                position: sticky;
                top: 10vh;
                overflow-x: hidden;
                overflow-y: scroll;

                scrollbar-color: $_SecondaryBackground $_PrimaryBackground;
                scrollbar-width: 30px;


                .content-section{
                    grid-column-start: 2;
                    grid-column-end: 8;
                    background-color: $_TertiaryBackground;
                    padding: 36px;
                    text-align: center;
                    border: 1px solid $_BorderColor;
                    border-radius: 3px;
                }                
            }
        }
    }
}








